# Email Configuration
EMAIL_MAILER=smtp # TBD if needed
EMAIL_USE_TLS=0
EMAIL_FROM_ADDRESS=communications@test.com
EMAIL_HOST=mailpit
EMAIL_PORT=1025
EMAIL_PASSWORD=
EMAIL_USERNAME=

SERVER_PORT=8000

# Azure Indentity Configuration
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=

# Internal Database Configuration (Azure SQL)
AZURE_DB_SERVER=your-server.database.windows.net # or your-server.database.windows.net,port if not using default port
AZURE_DB_DATABASE=your-database-name
AZURE_DB_CONNECTION_TIMEOUT=30 # in seconds

# Model Configuration
GEMINI_API_KEY=
AZURE_FOUNDRY_PROJECT_ENDPOINT= # This is the endpoint for your Azure Foundry project - typically in the format https://<your-resource-name>.services.ai.azure.com/api/projects/<your-project-name>
AZURE_OPENAI_ENDPOINT= # This is the endpoint for your Azure OpenAI service - typically in the format https://<your-resource-name>.cognitiveservices.azure.com/
AZURE_OPENAI_API_KEY= # Your Azure OpenAI API key

# Observability Configuration (LangSmith)
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT= # This is the endpoint for LangSmith, typically https://api.smith.langchain.com
LANGSMITH_API_KEY= # Your LangSmith API key
LANGSMITH_PROJECT= # The name of your LangSmith project, e.g., "ai-analyst"

# Run configuration
IS_DATA_CURRENT=false